.button{
    width: 325px;
    height: 48px;
    background: #4C6FFF;
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    color: #EDF2F7;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    transition: 0.2s;
}
.smallButton{
    width: 200px;
    height: 40px;
    font-weight: 700;
    font-size: 14px;
}
.largeButton{
    width: 410px;
    height: 56px;
    font-weight: 700;
    font-size: 24px;
}
.wideButton{
    width: 100%;
}
.disabledButton{
    background: #334155;
    pointer-events: none;
}
.button:hover{
    opacity: 0.7;
    transition: 0.2s;
}
.disabled{
    background: #334155;
}