.card-post{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    width: 410px;
    height: inherit;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;    
    position: relative;
    transition: background 0.5s;
}
.card-post__info{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.card-post__person{
    display: flex;
    width: 100%;
}
.card-post__person__avatar{
    min-width: 48px;
}
.card-post__person__text{
    margin-left: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
}
.card-post__name{
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
    transition: color 0.5s;
}
.card-post__status{
    color: #96A7AF;
    font-weight: 400;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 90%;
}
.card-post__date{
    position: absolute;
    color: #96A7AF;
    font-weight: 400;
    font-size: 14px;
    right: 30px;
}
.card-post__text{
    margin-top: 15px;
    width: 100%;
    color: #FFFFFF;
    transition: color 0.5s;
}

.card-post--white {
    background: #FFFFFF;
}
.card-post--white .card-post__name,
.card-post--white .card-post__text {
    color: #0F172A;
}

@media (max-width: 1620px) {
    .card-post__text{
        font-size: 14px;
        line-height: 22px;
    }
    .card-post{
        width: 325px;
    }
}
@media (max-width: 1220px) {
    .card-post{
        width: 420px;
    }
}
@media (max-width: 710px) {
    .card-post{
        width: 100%;
        height: 250px;
    }
}