.card-pets{
    width: 410px;
    height: 290px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    padding: 0;
    cursor: pointer;
    transition: background 0.5s;
}
.card-pets__img{
    overflow: hidden;
    width: inherit;
    height: 180px;
    text-align: center;
}
.card-pets__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}
.card-pets__info{
    width: inherit;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.card-pets__info-name{
    margin-bottom: 15px;
    color: #EDF2F7;
    font-weight: 400;
    font-size: 24px;
    transition: color 0.5s;
}
.card-pets__info-category{
    font-weight: 400;
    font-size: 15px;
    color: #EDF2F7;
    padding: 2px 10px;
    background: #4C6FFF;
    border-radius: 15px;
    text-align: center;
}
.card-pets__info__likes{
    display: flex;
    align-items: flex-end;
}
.card-pets__info__likes img{
    width: 16px;
}
.card-pets__likes{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 15px;
    margin-right: 15px;
    transition: color 0.5s;
}
.card-pets--masonry .card-pets__img{
    height: auto;
}
.card-pets--masonry .card-pets__img img{
    width: 100%;
}
.card-pets__info__like{
    cursor: pointer;
}
.card-pets__info__like--liked{
    fill: #F16063;
}

.card-pets--white {
    background: #FFFFFF;
}
.card-pets--white .card-pets__info-name,
.card-pets--white .card-pets__likes {
    color: #0F172A;
}
@media (max-width: 1620px) {
    .card-pets{
        width: 325px;
        height: 302px;
    }
}
@media (max-width: 1220px) {
    .card-pets{
        width: 420px;
        height: 330px;
    }
    .card-pets__img{
        height: 220px;
    }
}
@media (max-width: 710px) {
    .card-pets{
        height: 300px;
        width: 100%;
    }
    .card-pets__img{
        height: 180px;
    }
    .card-pets__info{
        width: 100%;
    }
    .card-pets__img{
        width: 100%;
    }
}