.graph{
    width: 234px;
    height: 234px;
    position: relative;
    transform: rotateZ(-90deg);
}
.graph__circle{
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    border: 20px solid #334155;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    transform: rotateZ(90deg);
}
.graph__circle-percent{
    font-weight: 400;
    font-size: 40px;
    color: #FFFFFF;
    z-index: 999;
    transition: color 0.5s;
}

.chart{
    width: inherit;
    height: inherit;
    position: relative;
}
.chart__unit{
    fill: none;
    stroke-width: 3;
    stroke-lineCap: round;

    animation-name: chart__unit;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}
@keyframes chart__unit {
    0%{
        stroke-dashoffset: 0;
        opacity: 0;
    }
    100%{
        stroke-dashoffset: auto;
        opacity: 1;
    }
}
.graph--white .graph__circle-percent{
    color: #17171B;
}
@media (max-width: 1620px) {
    .graph__circle-percent{
        font-size: 24px;
    }
    .graph__circle{
        border: 18px solid #334155;
    }
    .chart__unit{
        stroke-width: 3.3;
    }
}
@media (max-width: 1220px) {
    .graph{
        width: 280px;
        height: 280px;
    }
    .graph__circle-percent{
        font-size: 40px;
    }
    .graph__circle{
        border: 25px solid #334155;
    }
    .chart__unit{
        stroke-width: 3;
    }
}
@media (max-width: 710px) {
    .graph{
        width: 100px;
        height: 100px;
    }
    .graph__circle-percent{
        font-size: 14px;
    }
    .graph__circle{
        border: 10px solid #334155;
    }
    .chart__unit{
        stroke-width: 3.2;
    }
}