.pets{
    max-width: 860px;
    display: flex;
    overflow: hidden;
    position: relative;
}
.pets__line{
    display: flex;
    transition: 0.4s ease;
}
.pets__item{
    margin-right: 40px;
}
.pets__back{
    position: absolute;
    height: 100%;
    width: 70px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(-90deg, rgba(27, 35, 53, 0), rgba(15, 23, 42, 0) 30%);
    z-index: 2;

    animation-name: pets__back;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    opacity: 0;
}
.pets__back:hover{
    background: linear-gradient(-90deg, rgba(27, 35, 53, 0), rgba(15, 23, 42, 0.99) 30%);

}
@keyframes pets__back {
    100%{
        opacity: 1;
    }
}
.pets__next{
    position: absolute;
    height: 100%;
    width: 70px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: linear-gradient(90deg, rgba(27, 35, 53, 0), rgba(15, 23, 42, 0.99) 30%);

    animation-name: pets__next;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes pets__next {
    100%{
        opacity: 1;
    }
}
.wrapper__media-pets{
    display: none;
}

@media (max-width: 1620px) {
    .pets__item{
        margin-right: 20px;
    }
}
@media (max-width: 1220px) {
    .pets{
        height: 330px;
        max-width: 100%;
    }
    .pets__item{
        margin-right: 30px;
    }
}
@media (max-width: 710px) {
    .pets{
        display: none;
    }
    .wrapper{
        overflow: hidden;
    }
    .wrapper__media-pets{
        display: flex;
        max-width: 100%;
    }
    .wrapper__media-pets__line{
        width: 100%;
        display: flex;
        overflow: visible;
    }
    .wrapper__media-pets__item{
        width: auto;
        cursor: grab;
        transition: 0.2s;
    }
    .swiper-slide-prev{
        transform: scale(0.92);
    }
    .swiper-slide-next{
        transform: scale(0.92);
    }
}