.write-now{
    width: 260px;
    height: 290px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: background 0.5s;
}
.write-now__friends{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.write-now__avatar{
    width: 60px;
    height: 60px;
    margin-bottom: 35px;
}
.write-now__add{
    width: 60px;
    height: 60px;
    border: 1px dashed #FFFFFF;
    border-radius: 32.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.5s;

}
.write-now__add:hover{
    filter: brightness(50%);
    transition: 0.2s;
}
.write-now-button{
    font-weight: 700;
    font-size: 14px;
}
.write-now__avatar:nth-child(6){
    display: none;
}

.write-now--white {
    background: #FFFFFF;
}

.write-now--white .write-now__add {
    border: 1px dashed #0F172A;
    color: #0F172A;
    transition: 0.5s;
}

@media (max-width: 1620px) {
    .write-now{
        width: 210px;
        height: 260px;
    }
    .write-now__avatar:nth-child(5){
        display: none;
    }
    .write-now__avatar:nth-child(4){
        display: none;
    }
    .write-now__avatar{
        margin-bottom: 20px;
    }
}
@media (max-width: 1220px) {
    .write-now{
        width: auto;
        height: 320px;
        max-width: 289px;
        min-width: 250px;
        padding: 25px;
    }
    .write-now__avatar:nth-child(5){
        display: flex;
    }
    .write-now__avatar:nth-child(4){
        display: flex;
    }
    .write-now__avatar{
        margin-bottom: 50px;
    }
}
@media (max-width: 710px) {
    .write-now{
        width: 100%;
        max-width: none;
        min-width: none;
        height: auto;
        align-items: center;
        padding: 30px 25px;
    }
    .write-now__avatar:nth-child(6){
        display: flex;
    }
    .write-now__friends{
        justify-content: center;
        max-width: 345px;
    }
    .write-now__avatar{
        margin: 0 5px;
        margin-bottom: 35px;
    }
    .write-now__add{
        margin-left: 5px;
        margin-bottom: 35px;
    }
}