.progress-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 40px;
}
.progress-list-name{
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
}
.progress-list__list{
    margin-top: 20px;
}
.progress-list__item{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.progress-list__status{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-list__status img{
    width: 7px;
}
@media (max-width: 1220px) {
    .progress-list-name{
        font-size: 24px;
    }
    .progress-list__item{
        font-size: 24px;
    }
}
@media (max-width: 710px) {
    .progress-list{
        margin-left: 20px;
    }
    .progress-list-name{
        font-size: 12px;
    }
    .progress-list__item{
        font-size: 12px;
    }
}