.theme{
    width: 110px;
    height: 46px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: relative;
    transition: 0.5s;
    user-select: none;
}
.theme__label{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-gap: 15px;
    position: relative;
    cursor: pointer;
}
.theme__label img{
    z-index: 1;
}
.theme__input{
    display: none;
}
.theme__circle{
    position: absolute;
    width: 50%;
    height: 32px;
    border-radius: 16.2963px;
    background: #4C6FFF;
    left: 5px;
    transition: 0.3s;
}
.theme--white{
    background: #FFFFFF;
}
.theme--white .theme__circle {
    left: 100%;
    transform: translateX(calc(-100% - 5px));
    transition: 0.3s;
}
@media (max-width: 1220px) {
    .theme__circle {
        width: 40%;
        left: 15px;
    }
    .theme--white .theme__circle {
        transform: translateX(calc(-100% - 15px));
    }
}
@media (max-width: 710px) {
    .theme{
        height: 32px;
    }
    .theme__label{
        height: 22px;
    }
    .theme__label img{
        width: 15.5px;
    }
    .theme__circle {
        height: 23px;
        left: 7px;
    }
    .theme--white .theme__circle {
        transform: translateX(calc(-100% - 7px));
    }
}