.theme{
    width: 110px;
    height: 46px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    padding: 5px;
    display: flex;
    position: relative;
    transition: 0.5s;
}
.theme__label{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 50%;
    height: 32px;
    border-radius: 16.2963px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}
.theme-input{
    display: none;
}
.theme__white{
    right: 5px;
}
.whiteTheme{
    background: #FFFFFF;
    transition: 0.5s;
}
.theme label:hover{
    background: #4C6FFF;
    transition: 0.2s;
}
.active{
    background: #4C6FFF;
}
@media (max-width: 710px) {
    .theme{
        height: 32px;
    }
    .theme__label{
        height: 22px;
    }
    .theme__label img{
        width: 15.5px;
    }
}