.slider__line{
    display: flex;
    width: 100%;
    overflow: visible;
}
.slider__item{
    width: auto;
    transition: 0.2s;
}
.swiper-slide-prev{
    transform: scale(0.92);
}
.swiper-slide-next{
    transform: scale(0.92);
}