.side-bar{
    position: fixed;
    width: 100px;
    height: 100vh;
    padding: 30px 20px;
    border-right: 1px solid #334155;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
}
.side-bar--white{
    border-right: 1px solid #D5D5DC;
    transition: 0.5s;
}
.side-bar__up{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.side-bar__logo{
    width: 42px;
    cursor: pointer;
}