.data-block{
    height: 314px;
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #FFFFFF;
}
.data-block__time{
    width: 100%;
    height: 137px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    padding: 30px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.data-block__time h3{
    font-weight: 500;
    font-size: 32px;
    color: #FFFFFF;
}
.data-block__time-up{
    display: flex;
    align-items: center;
    margin-bottom: 13px;
}
.data-block__time-up div{
    width: 32px;
    height: 32px;
    background: #4C6FFF;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.data-block__date{
    width: 100%;
    height: 137px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    padding: 0 30px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.data-block__date h3{
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
}
.data-block__date-up{
    display: flex;
    align-items: center;
    margin-bottom: 13px;
}
.data-block__date-up div{
    width: 32px;
    height: 32px;
    background: #4C6FFF;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

@media (max-width: 1620px) {
    .data-block{
        height: 260px;
        min-width: 210px;
    }
    .data-block__time{
        height: 120px;
    }
    .data-block__date{
        height: 120px;
    }
    .data-block__time-up div{
        display: none;
    }
    .data-block__date-up div{
        display: none;
    }
    .data-block__time h3{
        font-size: 24px;
    }
    .data-block__date h3{
        font-size: 24px;
    }
}
@media (max-width: 1220px) {
    .data-block{
        height: 183px;
        min-width: 230px;
        border-radius: 16px;
        overflow: hidden;
    }
    .data-block__time{
        height: 50%;
        border-radius: 0;
    }
    .data-block__date{
        height: 50%;
        border-radius: 0;
    }
    .data-block__time-up div{
        display: flex;
        width: 32px;
    }
    .data-block__date-up div{
        display: flex;
        width: 32px;
    }
    .data-block__time-up{
        margin-bottom: 7px;
    }
    .data-block__date-up{
        margin-bottom: 7px;
    }
    .data-block__time{
        padding: 15px;
    }
    .data-block__date{
        padding: 15px;
        padding-top: 0;
    }
}
@media (max-width: 710px) {
    .data-block{
        min-width: 100%;
    }
}