.wrapper-menu-icon{
    width: 60px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    cursor: pointer;
}
.wrapper-menu-icon img{
    width: 24px;
}
.activeIcon{
    background: #4C6FFF;
    border-radius: 13px;
}
.menuItem{
    transition: 0.2s;
}
.menuItem:hover {
    background: #4C6FFF;
    transition: 0.2s;
}