.wrapper-menu-icon{
    width: 60px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper-menu-icon img{
    width: 24px;
}
.active{
    background: #4C6FFF;
    border-radius: 13px;
}