.menu-list{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu-list__list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu-list__item{
    margin-bottom: 20px;
}