.wrapper__posts {
    height: 210px;
    display: flex;
    position: relative;
    overflow: hidden;
}

.wrapper__posts__next {
    position: absolute;
    height: inherit;
    width: 70px;
    background: linear-gradient(90deg, rgba(27, 35, 53, 0), rgba(15, 23, 42, 0.995) 30%);
    right: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    animation-name: wrapper__posts__next;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes wrapper__posts__next {
    100%{
        opacity: 1;
    }
}
.wrapper__posts__back{
    position: absolute;
    height: inherit;
    width: 70px;
    background: linear-gradient(-90deg, rgba(27, 35, 53, 0), rgba(15, 23, 42, 0) 30%);
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;

    animation-name: wrapper__posts__back;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    opacity: 0;
}
.wrapper__posts__back:hover{
    background: linear-gradient(-90deg, rgba(27, 35, 53, 0), rgba(15, 23, 42, 0.995) 30%);
}
@keyframes wrapper__posts__back {
    100%{
        opacity: 1;
    }
}

.wrapper__posts__post {
    margin-right: 40px;
}
.wrapper__posts__line{
    display: flex;
    transition: 0.3s ease;
    height: inherit;
}

.wrapper__posts__post:last-child {
    margin-right: 0;
}
.wrapper__media-posts{
    display: none;
}

@media (max-width: 1620px) {
    .wrapper__posts{
        height: 260px;
    }
    .wrapper__posts__post{
        margin-right: 20px;
    }
}
@media (max-width: 1220px) {
    .wrapper__posts{
        height: 215px;
    }
    .wrapper__posts__post{
        margin-right: 30px;
    }
}
@media (max-width: 710px) {
    .wrapper{
        overflow: hidden;
    }
    .wrapper__posts{
        display: none;
    }
    .wrapper__media-posts{
        display: flex;
        max-width: 100%;
    }
    .wrapper__media-posts__line{
        width: 100%;
        display: flex;
        overflow: visible;
    }
    .wrapper__media-posts__item{
        width: auto;
        transition: 0.2s;
    }
    .swiper-slide-prev{
        transform: scale(0.92);
    }
    .swiper-slide-next{
        transform: scale(0.92);
    }
}